<ul id="blogPostList">
	{% for post in site.posts limit:4 %}
	<li>
		<a href="{{ post.url}}" title="{{ post.title }}" {% if post.url == page.url %}class="active"{% endif %}>
		<section>
			<div class="linkContent">
				<h4>{{ post.title | escape }}</h4>
				<p>{{ post.content | strip_html | truncatewords:10}}</p>
			</div>
			<div class="linkDetails">
				<h6><span><i class="fa fa-{{ post.keywords }}"></i></span>{{ post.keywords | upcase }} ( 4 )</h6>
				<span>|</span>
				<time>{{ post.date | date: "%m.%d.%Y" }}</time>
			</div>
		</section>
		</a>
	</li>
	{% endfor %}
</ul>
