@import "normalize";
@import "monokai";
@import "scrollpane";
$whiteText: #e5e5e5;
$blackText: #222;
$brandColorLight: #05477c;
$brandColorDark: #065b9f;
$brandColorActive: #6EC4E9;

html{
	box-sizing: border-box;
}
*, *:before, *:after{
	box-sizing: inherit;
}
a{
	text-decoration: none;
}
img{
	max-width: 100%;
}
.fa-html5, .html5{
	color: #f16529;
}
.fa-css3, .css3{
	color: #33a9dc;
}
.fa-globe, .globe{
	color: #6ecd56;
}
.fa-code, javascript{
	color: #f7df1e;
}
.embed-container { 
	position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; 
} 
.embed-container iframe, .embed-container object, .embed-container embed { 
	position: absolute; top: 0; left: 0; width: 100%; height: 100%; 
}
a.disabled {
    text-decoration: none;
    color: black;
    cursor: default;
}
html, body {margin: 0; height: 100%; overflow: hidden}
body{
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: subpixel-antialiased;
}
p{
	line-height: 23px;
}
#wrapper {
    display: flex;
    margin: 0px auto;
    overflow: hidden;
}
nav{
	position: relative;
	width: 12em;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex: 0 0 12em;
	min-height: 100vh;
	background-color: #211F1E;
    background-position: center center;
    background-image: url(../images/banner.gif);
    background-attachment: fixed;
    &:before{
	    content: "";
	    position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 0.95;
		background: #005189;
		z-index: 10;
    }
	#navContent{
		display: flex;
		justify-content: center;
		flex-direction: column;
		position: fixed;
		top: 0;
		left: 0;
		width: inherit;
		z-index: 20;
	}
	a{
		text-align: center;
	}
	img{
		position: relative;
		width: 80%;
		margin: 50px auto;
	}
	ul{
		list-style: none;
		margin: 0;
		padding: 0;
		&#pageLinks{
			li{
				position: relative;
				width: 90%;
				display: flex;
				justify-content: space-between;
				padding-left: 30px;
				margin-bottom: 25px;
				a{	
					display: block;
					font-family: 'Montserrat', sans-serif;
					font-size: 14px;
					color: white;
					letter-spacing: 0.5px;
					font-weight: normal;
					text-transform: uppercase;
					text-decoration: none;
				}
				a{
					&.active{
					color: #6ec4e8;	
					}
				}
				span{
					position: absolute;
					right: 0;
					bottom: 2px;
					width: 25px;
					height: 25px;
					border-radius:  20px;
					font-family: 'Montserrat', sans-serif;
					font-size: 13px;
					background: white;
					box-shadow: 0 0 0 2px $brandColorDark;
					color: black;
					display: flex;
					justify-content: center;
					align-content: center;
					align-self: center;
					padding: 5px;
				}
			}
		}
		&#contactInfo{
			margin-top: 10px;
			padding: 20px 0px;
			li{
				width: 90%;
				display: flex;
				justify-content: space-between;
				padding-left: 30px;
				margin-bottom: 10px;
				a{
					display: block;
					font-family: 'Open Sans', sans-serif;
					font-size: 11px;
					color: white;
					letter-spacing: 0.5px;
					font-weight: normal;
					text-decoration: none;	
					i{
						margin-right: 5px;
					}
				}
			}	
		}
		&#socialIcons{
			display: flex;
			justify-content: space-around;
			padding: 0 20px;
			li{
				a{
					color: white;
					font-size: 25px;
				}
			}
		}
	}
}
aside{
	position: relative;
	width: 22em;
	display: flex;
	flex-direction: column;
	flex: 0 0 25em;
	background: $brandColorLight;
	h2{
		position: fixed;
	    display: block;
	    width: inherit;
	    height: 65px;
	    top: 0px;
	    left: 200px;
	    margin-top: 0;
	    padding-top: 20px;
	    padding-bottom: 20px;
	    padding-left: 15px;
	    font-weight: 400;
	    color: white;
	    background: $brandColorLight;
	    z-index: 40;
	}
	ul#blogPostList{
		position: fixed;
		top: 80px;
		width: inherit;
		list-style: none;
		margin: 0;
		padding: 0 35px;
		width: 25em;
		height: 80%;
		overflow-y:  scroll;
		&:after{
			position: absolute;
			content: "";
			top: 0px;
			left: 25px;
			border-left: solid 2px $brandColorDark;
			height: 100%;
		}
		li{
			min-width: 100%;
			a{
				text-decoration: none;
					&.active{
					section{
						h4{
							color: $brandColorActive;
							&:before{
								background: $brandColorActive;
								z-index: 20;
							}
							&:after{
								position: absolute;
								content: "";
								top: -2px;
								left: -34px;
								width: 20px;
								height: 20px;
								border-radius: 50px;
								background: $brandColorLight;
								box-shadow: 0 0 0 2px $brandColorDark;
								z-index: 10;
							}
						}
					}	
				}
			}
			&:hover{
				section{
					cursor: pointer;
					h4{
						color: $brandColorActive;
						&:before{
							background: #ffffff;
							z-index: 20;
						}
						&:after{
							position: absolute;
							content: "";
							top: -2px;
							left: -34px;
							width: 20px;
							height: 20px;
							border-radius: 50px;
							background: $brandColorLight;
							box-shadow: 0 0 0 2px $brandColorDark;
							z-index: 10;
						}

					}	
				}
				p{
					color: white;
				}
			}
		}
	}
	section{
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;
		padding-bottom: 10px;
		padding-left: 15px;
		
	}
	#blogPostList-pagination{
		position: fixed;
		width: inherit;
		top: 450px;
		padding: 0 35px;
		display: flex;
		align-content: center;
		align-items: center;
		align-self: center;
		z-index: 30;
		div{width: 100%;}
		a{
			color: white;
			text-decoration: none;
			border: solid 2px white;
			border-radius: 30px;
			padding: 10px 30px;
			&.disabled{
				display: none;
			}
		}
		#blogPostList-previous{
			float: left;
		}
		#blogPostList-next{
			float: right;
		}
	}
	#archives{
		position: fixed;
		width:inherit;
		bottom: 0;
		z-index: 20;
		h2{
			position: relative;
			height: 50px;
			left: 5px;
			padding-bottom: 0;
		}
		ul#archivesList{
			margin: 0;
			padding: 0;
			padding-left: 20px;
			list-style: none;
			background: $brandColorLight;
			&:after{
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 25em;
				height: 300px;
				background: $brandColorLight;
				z-index: -1;
			}
			li{
				width: 22.5em;
				padding: 10px 10px;
				border-radius: 5px;
				background: #043e6d;
				color: white;
				margin-bottom: 10px;
				a{
					color: white;
					text-decoration: none;
				}
				h4{
					position: relative;
					margin: 0;
					font-family: 'Montserrat', sans-serif;
					font-size: 0.5em;
					text-transform: uppercase;	
					padding-left: 20px;
					span{
						float: right;
					}
					&:before{
						position: absolute;
						content: "";
						top: 0px;
						left: 0px;
						width: 10px;
						height: 10px;
						border-radius: 50px;
						background: $brandColorDark;
						box-shadow: 0 0 0 2px $brandColorLight;
						z-index: 10;
					}
				}
			}
		}
	}
}

.linkDetails{
	display: flex; 
	align-items: center;
	align-content: center;
	opacity: 0.8;
	h6{
		position: relative;
		margin: 0;
		padding-right: 10px;
		font-family: 'Montserrat', sans-serif;
		color: white;
	}
	span{
		color: white;
		line-height: 0;
		font-family: 'Montserrat', sans-serif;
		padding-right: 10px;
	}
	time{
		align-self: flex-end;
		margin: 0;
		padding-right: 10px;
		font-family: 'Montserrat', sans-serif;
		color: white;
		font-size: 0.67em;
		font-weight: 400;
	}
}
.linkContent{
	h4{
		position: relative;
		margin-top: 10px;
		margin-bottom: 10px;
		color: white;
		font-weight: 400;
		&:before{
			position: absolute;
			content: "";
			top: 3px;
			left: -29px;
			width: 10px;
			height: 10px;
			border-radius: 50px;
			background: $brandColorDark;
			box-shadow: 0 0 0 2px $brandColorLight;
			z-index: 10;
		}
	}
	p{
		width: 90%;
		margin-top: 0px;
		margin-bottom: 5px;
		color: rgba(255, 255, 255, 0.39);
		font-size: 0.80em;
		line-height: 1.8em;
	}
}

article{
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin: 0 auto;
	padding: 0 0 0 0;
	header{
		iframe{}
	}
	section{
		margin: 0 auto;
		max-width: 700px;
		padding: 0 20px;
		h1{
			font-weight: 400;
		}
		p{
			
		}
		figure{
			margin: 0;
			background-color: #222222;
			color: white;
		}
	}
}
#archiveBlogList{
	margin: 0;
	padding: 0;
	list-style: none;
	#archiveHeading{
		width: 100%;
		padding: 10px 0px 10px 0px;
	    border-radius: 5px;
	    color: $blackText;
	    margin-bottom: 10px;
	    margin-top: 10px;
	    h1{
		    margin: 0;
		    margin-bottom: 70px;
	    }
	}
}

#blogPostListAll{
	list-style: none;
	margin: 0;
	padding: 0;
	li{
		margin-bottom: 80px;
	}
	section{
		padding: 0;
		display: flex;
	}
	.blogPostListImage{
		flex: 0 0 15em;
	}
	.blogPostListContent{
		padding-left: 10px;
	}
	h2{
		margin: 0;
		color: $blackText;
		font-weight: 600;
	}
	h6{
		margin: 0;
		margin-bottom: 5px;
		span{
			margin-right: 5px;
		}
	}
	.blogPostDetails{
		font-size: 0.8em;
		margin: 5px 0px 10px 0px;
		color: #9b9b9b;
		font-weight: 300;
	}
	p{
		color: #474747;
		margin: 0;
	}
}


pre {
    position: relative
}

pre .preloader {
    position: absolute;
    top: 12px;
    left: 10px
}

pre .preloader div {
    width: 12px;
    height: 12px;
    border-radius: 4px;
    display: inline-block;
    margin-right: 4px;
    opacity: 0;
    animation-play-state: paused;
    animation-fill-mode: forwards
}

pre {
    background-color: #000;
    word-wrap: break-word;
    margin: 0px;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    margin-bottom: 20px
}

pre,
code {
    font-family: 'Monaco', 'Menlo', courier, monospace
}

pre {
    background: #272822
}

pre .comment {
    color: #75715E
}

pre .constant {
    color: #AE81FF
}

pre .storage {
    color: #66D9EF;
    font-style: italic
}

pre .string,
pre .comment.docstring {
    color: #E6DB74
}

pre .support.tag {
    color: #fff
}

pre .keyword {
    color: #33a9dc
}

pre .selector,
pre .storage.modifier.extends {
    color: #33a9dc
}

pre .inherited-class {
    font-style: italic
}

pre .operator,
pre .support.tag-name,
pre .entity.tag {
    color: #33a9dc
}

pre .entity,
pre .support.attribute,
pre .entity.attribute {
    color: #A6E22E
}

pre .entity.name.type,
pre .entity.name.struct {
    color: #fff
}

pre .css-property,
pre .storage.function {
    font-style: italic
}

pre .variable.global,
pre .variable.class,
pre .variable.instance {
    color: #A6E22E
}

[data-language="html"] .support.operator,
.lang-html .support.operator,
.language-html .support.operator {
    color: #fff
}

[data-language="javascript"] .variable.super,
.lang-javascript .variable.super,
.language-javascript .variable.super {
    color: #66D9EF
}

[data-language="js"] .variable.super,
.lang-js .variable.super,
.language-js .variable.super {
    color: #66D9EF
}


figure pre code { 
	position: relative; 
	display: block; 
	padding: 35px 10px;
}
figure pre code.language-html:before { 
	color: #f16529; 
	font-family: FontAwesome;
	content: "\f13b"; 
	display: inline-block; 
	font-size: 1rem; 
	font-weight: 700; 
	height: 1rem; 
	left: -1px; 
	letter-spacing: 0.1em; 
	line-height: 1rem; 
	padding: 0 0.5em; 
	position: absolute; 
	text-transform: uppercase; 
	top: 0; 
}

figure pre code.language-html:after { 
	color: white; 
	content: "HTML"; 
	display: inline-block; 
	font-size: 0.6rem; 
	font-weight: 700; 
	height: 1rem; 
	left: 30px; 
	letter-spacing: 0.1em; 
	line-height: 1rem; 
	padding: 0 0.5em; 
	position: absolute; 
	text-transform: uppercase; 
	top: 0; 
}

figure pre code.language-css:before {
	color: #33a9dc; 
	font-family: FontAwesome;
	content: "\f13c"; 
	display: inline-block; 
	font-size: 1rem; 
	font-weight: 700; 
	height: 1rem; 
	left: -1px; 
	letter-spacing: 0.1em; 
	line-height: 1rem; 
	padding: 0 0.5em; 
	position: absolute; 
	text-transform: uppercase; 
	top: 0; 
}

figure pre code.language-css:after { 
	color: white; 
	content: "CSS"; 
	display: inline-block; 
	font-size: 0.6rem; 
	font-weight: 700; 
	height: 1rem; 
	left: 30px; 
	letter-spacing: 0.1em; 
	line-height: 1rem; 
	padding: 0 0.5em; 
	position: absolute; 
	text-transform: uppercase; 
	top: 0; 
}

figure pre code.language-javascript:before { 
	color: #f7df1e; 
	font-family: FontAwesome;
	content: "\f121"; 
	display: inline-block; 
	font-size: 1rem; 
	font-weight: 700; 
	height: 1rem; 
	left: -1px; 
	letter-spacing: 0.1em; 
	line-height: 1rem; 
	padding: 0 0.5em; 
	position: absolute; 
	text-transform: uppercase; 
	top: 0; 
}

figure pre code.language-javascript:after { 
	color: white; 
	content: "JS"; 
	display: inline-block; 
	font-size: 0.6rem; 
	font-weight: 700; 
	height: 1rem; 
	left: 30px; 
	letter-spacing: 0.1em; 
	line-height: 1rem; 
	padding: 0 0.5em; 
	position: absolute; 
	text-transform: uppercase; 
	top: 0; 
}

pre { white-space: pre; word-wrap: normal; }
pre { white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }
code, pre { font-family: "Source Code Pro", "Inconsolata", monospace; font-weight: 400; }

